# OS Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node
node_modules/
npm-debug.log
yarn-error.log

# Composer
vendor/
composer.lock

# WordPress
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php

# Logs
*.log
error_log
debug.log
